@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    Font-Family Names Used:
    1. AvantGarde-BoldCondensed
    2. AvantGarde-BoldOblique
    3. AvantGarde-Bold
    4. AvantGarde-BookCondensed
    5. AvantGarde-CEBookOblique
    6. AvantGarde-CEBook
    7. AvantGarde-CEDemi
    8. AvantGarde-DemiCondensed
    9. AvantGarde-MediumCondensed
    10. AvantGarde-MediumOblique
    11. AvantGarde-Medium
*/

@font-face { font-family: 'AvantGarde-BoldCondensed'; src: url('/font/ITC Avant Garde Gothic Bold Condensed.otf') format('opentype'); font-weight: bold; font-style: normal; }

@font-face { font-family: 'AvantGarde-BoldOblique'; src: url('/font/ITC Avant Garde Gothic Bold Oblique.otf') format('opentype'); font-weight: bold; font-style: oblique; }

@font-face { font-family: 'AvantGarde-Bold'; src: url('/font/ITC Avant Garde Gothic Bold.otf') format('opentype'); font-weight: bold; font-style: normal; }

@font-face { font-family: 'AvantGarde-BookCondensed'; src: url('/font/ITC Avant Garde Gothic Book Condensed.otf') format('opentype'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'AvantGarde-CEBookOblique'; src: url('/font/ITC Avant Garde Gothic CE Book Oblique.otf') format('opentype'); font-weight: normal; font-style: oblique; }

@font-face { font-family: 'AvantGarde-CEBook'; src: url('/font/ITC Avant Garde Gothic CE Book.otf') format('opentype'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'AvantGarde-CEDemi'; src: url('/font/ITC Avant Garde Gothic CE Demi.otf') format('opentype'); font-weight: 600; font-style: normal; }

@font-face { font-family: 'AvantGarde-DemiCondensed'; src: url('/font/ITC Avant Garde Gothic Demi Condensed.otf') format('opentype'); font-weight: 600; font-style: normal; }

@font-face { font-family: 'AvantGarde-MediumCondensed'; src: url('/font/ITC Avant Garde Gothic Medium Condensed.otf') format('opentype'); font-weight: 500; font-style: normal; }

@font-face { font-family: 'AvantGarde-MediumOblique'; src: url('/font/ITC Avant Garde Gothic Medium Oblique.otf') format('opentype'); font-weight: 500; font-style: oblique; }

@font-face { font-family: 'AvantGarde-Medium'; src: url('/font/ITC Avant Garde Gothic Medium.otf') format('opentype'); font-weight: 500; font-style: normal; }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
