#about-players{
    background-color: #F3F2E4;
    width: 100vw;
    max-width: 100%;
    height: fit-content;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.ap__player-container {
    /* border: 1px solid red; */
    position: relative;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ap__player-container .visual-bg {
    position: absolute;
    top: 88px;
    /* border: 1px solid violet; */
    left: 50%;
    transform: translateX(-50%);
    /* width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; */
    z-index: 1;
}

.ap__player-left,
.ap__player-mid,
.ap__player-right {
    z-index: 10;
}
.ap__player-left img,
.ap__player-mid img,
.ap__player-right img {
    max-height: 800px;
}

.ap__player-mid {
    position: relative;
}

.ap__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding: 3rem 0;
}
.ap__header img{
    max-width: 400px;
}

.ap__title {
    position: absolute;
    top: 22%;
    left: -12%;
    /* border: 1px solid violet; */
    z-index: 10;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 22px;
    width: 200px;
}

.ap__nav {
    position: absolute;
    z-index: 11;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 15px;

    padding: 55px 0
}