#about-footer {
    height: fit-content;
    /* width: 100vw; */
    background-color: #FFA8D5;
    color: #071330;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 2px solid #CD63A2;
    border-right: 2px solid #CD63A2;
    height: fit-content;
}


/* 

#home-footer
    af-top
        aft__left
            af-title
            af-quote
        split-line
        aft__right
            aft__form
                aft__form-inputs 
                    aft__form-inputs-item   
                aft__form-textarea
                aft__form-confirm
                    aft__form-checkbox
                    aft__form-checkbox-label
                        font-extrabold
                    aft__form-button
*/

.about-split-line {
    border: 2px solid #CD63A2;
    height: 100%;
}

.af-top {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    /* padding-bottom: 15rem; */
    border-bottom-right-radius: 85px;
    border-bottom-left-radius: 85px;
    box-shadow: 0 15px 15px #CD63A2;

    border-right: 2px solid #CD63A2;
    border-left: 2px solid #CD63A2;
    border-bottom: 2px solid #CD63A2;

    height: 400px;
    /* border-left: 3px solid #CD63A2;
    border-right: 3px solid #CD63A2;
    border-bottom: 3px solid #CD63A2; */
    /* padding-bottom: 21px; */
}
.af-title{
    white-space: nowrap;
    font-size: 3rem;
    font-weight: 600;
}
.af-quote{
    white-space: nowrap;
    font-size: 1.5rem;
    line-height: 22px;
}

.aft__left {
    flex-grow: 1;
    padding: 4rem 0 0 4rem;
    /* border: 2px solid lime; */
}
.aft__right {
    flex-grow: 2; 
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.aft__form {
    /* border: 2px solid violet; */
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: column nowrap;

    width: 100%;
    height: 100%;

}

.aft__form-inputs {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    
}

.aft__form-inputs input {
    background-color: #ffffff00;
    flex-grow: 1;
    border-bottom: 2.5px solid #CD63A2;
    
}
.aft__form-inputs input:focus {
    outline: none;
    
}
.aft__form-inputs input:first-child {
    /* border: 2px solid limegreen; */
}
.aft__form-inputs input::placeholder,  
.aft__form-textarea textarea::placeholder {
    color: #AD0166;
}

.aft__form-textarea{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 760px;
    padding: 1rem;
}

.aft__form-textarea textarea{
    background-color: #FF74B8;
    border: 2px solid #AD0166;
    border-radius: 10px;
    resize: none;
    padding: 0.5rem;

    color: #AD0166;
    width: 100%;
    height: 220px;
}
.aft__form-textarea textarea:focus{
    outline: none;
}


/* 

        aft__form-confirm
            aft__form-checkbox
            aft__form-checkbox-label
                font-extrabold
            aft__form-button
*/

.aft__form-confirm {
    width: 100%;
    max-width: 730px;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.aft__form-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.aft__form-checkbox input {
    appearance: none;
    width: 28px;
    height: 22px;
    border: 2px solid #AD0166;
    border-radius: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}


.aft__form-checkbox input:checked::before {
    content: "✔";
    color: white;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    background: #AD0166;
    width: 28px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35%;
}

.aft__form-checkbox-label {
    font-size: 14px;
    color: #AD0166;
}

.aft__form-checkbox-label span {
    color: #AD0166;
    font-weight: bold;
    cursor: pointer;
}

.aft__form-button {
    background: #AD0166;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.aft__form-button:hover {
    background: #4a5cb1;
}

.aft__form-button::after {
    content: "→";
    font-size: 16px;
}


.af-bottom {
    padding-top: 2rem;
}

.af-bottom img {
    /* border: 1px solid red; */
    width: 100%;
}