.background {
    position: fixed;
    background-image: url("/MetamaBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}