#nav {
    position: fixed;
    z-index: 10000;
    color: #fff;
    background-color: #071333;
    top: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    /* border: 1px solid red; */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.712);
    height: fit-content;
    width: 390px;
    padding: 0.5em;
    border-radius: 50px;

    display: flex;
    justify-content: space-between;
}
.nav__logo{
    width: 120px;
}

.nav__links{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    /* border: 1px solid red; */
    width: 180px;
}
.nav__links li {
    /* height: 50px; */
    /* width: 100px; */
    /* border: 1px solid pink; */
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__links img {
    transform: scale(0.5);
}
.nav__links li:hover {
    background-color: #0c1e52;
    border-radius: 25px;
}